* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--principal_font);
    color: var(--text_principal_color);
}

:root{
    --principal_color:#ffddd9;
    --second_color: #c31632;
    --background_color:#ffffff;
    --text_principal_color:black;
    --text_second_color: white;
    --principal_font:sans-serif;
    --second_font:arial;
    --first-font-size:12px;
    --second-font-size:calc(var(--first-font-size)*2.4);
    --third-font-size: calc(var(--first-font-size)*2);
    --fourth-font-size: calc(var(--first-font-size)*1.4);
    --fifth-font-size: calc(var(--first-font-size)*0.8);
}


/**/

footer {
    margin: 20px;
    margin-top: 100px;
    font-size: 10px;
    text-align: center;
}

.aclaracion{
    display: block;
    font-size: var(--first-font-size);
    text-align: center;
}

.title {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0 5px;
    margin-top: 30px;
}

.title img.bouncing{
    animation-name: bounce;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

@keyframes bounce{
    0%{
        transform: translateY(1) scaleX(1) scaleY(1);
    }
    20%{
        transform: translateY(2.5%) scaleX(1.25) scaleY(0.75);
    }
    50%{
        transform: translateY(-5%) scaleX(0.9) scaleY(1.1);
    }
    100%{
        transform: translateY(1) scaleX(1) scaleY(1);
    }
}

.title h1 {
    font-size: var(--second-font-size);
    display: inline-block;
}

.title img{
    height: 50px;
    margin-right: 5px;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 25px 20px 35px;
    width: 100%;
    max-width: 1500px;
}



.body_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.career_name{
    font-size: var(--second-font-size);
    display: inline-block;
    padding: 20px;
    background-color: var(--second_color);
    margin: 2px;
    margin-left: 0;
    margin-top: 0;
    color:var(--text_second_color);
    text-align: center;
    width: 100%;
    max-width: 1500px;
}



/*Acá va el Css de la tabla */

.table_of_contents_container{
    display: grid;
    background-color: var(--background_color);
    justify-content: center;
    max-width: 1500px;
}

.content_column{
    display: flex;
    flex-direction: column;
    
    max-width: 300px;
    background-color: var(--background_color);
}

.content_header{
    font-size: var(--third-font-size);
    padding: 15px;
    font-weight: bold;
    text-align: center;
    background-color: var(--second_color);
    color: var(--text_second_color);
    border-left: 2px solid var(--background_color);
    border-right: 2px solid var(--background_color);
    border-bottom: 1px solid var(--background_color);
}

.table_of_contents_container .content_column:first-of-type .content_header{
    border-left: 0;
}


.table_of_contents_container .content_column:last-of-type .content_header{
    border-right: 0;
}


.content_subjects, .elective_div{
    background-color: var(--principal_color);
    padding: 16px 10px 16px 20px;
    margin: 2px;
    border-radius: 8px;
    position: relative;
    transition: opacity 0.25s, filter 0.25s, transform 0.25s;
}

.elective_div{
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.table_of_contents_container .content_column:first-of-type .content_subjects{
    border-left: 0;
}


.table_of_contents_container .content_column:last-of-type .content_subjects{
    border-right: 0;
}

.table_of_contents_container:hover .content_subjects:not(.focus){
    opacity: 0.5;
}

.table_of_contents_container:hover .content_subjects:not(:hover):not(.focus){
    filter: brightness(55%) contrast(250%) blur(1px) saturate(0.5);
}

.table_of_contents_container:hover .content_subjects:hover{
    opacity: 1;
    z-index: 1;
    transform: scale(1.05) translateY(-5%);
    filter: drop-shadow(0 2px 2px #0000009d);
}

.table_of_contents_container:hover .content_column:not(:hover) .content_subjects:not(.focus){
    filter: brightness(80%) contrast(90%) blur(1px) saturate(0.5);
}



.elective_div {
    margin: 12px 0 0 0;
}

.elective_div span{
    color: var(--second_color);
    font-size: var(--first-font-size);
}

.content_name, .elective_div .elective_name{
    font-size: var(--fourth-font-size);
    display: flex;
    width: 100%;
    align-items: center;

    color: var(--second_color);
    font-weight: bold;

    font-family: var(--second_font);

    transition: opacity 0.5s;

    margin: 5px 0;
}

.content_subjects select{
    width: 90%;
    display: block;
}

.subject_select, .duration_select{
    margin: 0 5px 10px;
    padding: 5px;
    font-size: var(--first-font-size);
}

.subject_checkboxes{
    display: block;
}




.duration_select{
    margin: 10px 0 0;
}

.content_duration_div{
    margin-top: 10px;
    opacity: 0.85;
}

.duration_name, .elective_div .duration_name{
    font-size: var(--first-font-size);
    color: var(--second_color);
    font-weight: bold;
}

.duration span, .elective_div .duration span{
    font-size: var(--fifth-font-size);
    color: var(--second_color);
}

.duration, .elective_div .duration{
    display: block;
    color: var(--second_color);
}

.duration .number{
    font-weight: bold;
}






.checkbox, .filter_button, .career_radio{
    display: none;
}

.checkbox_label, .filter_label, .career_label{
    display: inline-block;
    font-size: var(--first-font-size);
    padding: 5px 10px;
    border-radius: 1mm;
    border: 2px solid var(--second_color);
    margin:15px 5px 5px 5px;
    transform: scale(1);
    transition: transform 0.1s, opacity 0.1s;
    cursor: pointer;
    user-select: none;
}

.career_label{
    margin: 2px;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    z-index: 2;
}




.button_careers_container li:first-child .career_label{
    margin-left: 0;
}

.filter_label{
    display: inline-block;
}

.filter_label:hover {
    background-color: var(--second_color);
    color:var(--text_second_color);
}

.filter_label:active{
    transform: scale(0.95);

}

.checkbox_label {
    display: inline-block;
    font-size: var(--fifth-font-size);
    padding: 5px 10px;
    border-radius: 7mm;
    border: 1px solid var(--second_color);
    margin:15px 5px 5px 5px;
    color: var(--second_color);
    opacity: 0.5;
    font-family: var(--second_font);
}

.checkbox_label:hover{
    transform: scale(1.05);
}

.checkbox_label:active{
    transform: scale(0.9);
    
}

.button_careers_container:hover .career_label:active{
    transform: scaleY(1.2) scaleX(0.93) translateY(-1%);
}

.button_careers_container:hover .career_label:not(:hover){
    transform: translateY(15%);
}

.career_label:hover{
    transform: translateY(-2%) scaleY(1.1);
}

.checkbox:checked + label, .filter_button:checked + label, .career_radio:checked + label{
    background-color: var(--second_color);
    color: var(--text_second_color);
    font-weight: bold;
    opacity: 1;
}

.button_careers_container {
    width: 100%;
    max-width: 1500px;
    display: flex;
}

.button_careers_container li{
    list-style-type: none;
}




.subject_requirements, .subject_id {
    position: absolute;
    
    z-index: 1;
    right: 0;
    
    
    padding: calc(var(--first-font-size)*1.3);
    
    max-width: 150px;
    
    background-color: var(--principal_color);

    opacity: 0;
    transition: opacity 0.25s ease 0.75s;

    pointer-events: none;
}

.subject_requirements{
    border-radius: 8px;

    top: 105%;
    transition: opacity 0.25s ease 1.5s;
    background-color: var(--second_color);
    
}


.requirement{
    color: var(--text_second_color);
    font-size: var(--fifth-font-size);
    margin:5px 0;
}

.requirement_id{
    display: block;
    color: var(--text_second_color);
    font-size: var(--fourth-font-size);
    font-weight: bold;
}

.subject_id{
    position: absolute;
    top: 0;
    background-color: var(--second_color);
    color: var(--principal_color);
    font-size: var(--fifth-font-size);
    font-weight: bold;
    border-top-right-radius: 8px;
}






@media (max-width: 1200px) {
    :root{
        --first-font-size:11px;
    }

    .checkbox_label{
        padding: 2px 5px;
    }

    .content_subjects, .elective_div{

        padding: 10px 15px 10px 15px;
    }

    
}

@media (max-width: 1000px){
    :root{
        --first-font-size:10px;
    }
}


@media (max-width: 900px){

    .title{
        margin-bottom: 20px;
    }

    .title img{
        height: 25px;

    }

    .filters {
        margin-top: 10px;
        margin-bottom: 80px;
        justify-content: center;
    }

    .button_careers_container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 50px;
        gap: 20px;
    }

    .career_label{
        width: 100%;
        height: 100%;
        border: 2px solid var(--second_color);
        border-radius: 1mm;
        text-align: center;
    }

    .career_label:active{
        transform: scale(0.9);
    }

}


.coursed{
    opacity: 1;
}

.approved{
    opacity: 1;
}

.none{
    opacity: 1;
}

.break-page {
  page-break-inside: avoid;
}

.hidden {
    display: none !important;
}

.table_of_contents_container:hover .content_column:not(:hover) .content_subjects.focus{
    filter: contrast(0.8);
}

.table_of_contents_container:hover .content_column:not(:hover) .focus.coursed{
    filter: hue-rotate(45deg);
}

.table_of_contents_container:hover .content_column:not(:hover) .focus.approved{
    filter: hue-rotate(90deg);
}