* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --principal_color:#ffdacc;
    --second_color: #fdab8d;
}


/* */

.table_of_contents_container{
    display: grid;
    background-color: var(--principal_color);
}

.content_column{
    display: flex;
    flex-direction: column;
    min-width: 210px;
    max-width: 300px;
    background-color: var(--second_color);
}

.content_subjects, .elective_div{
    background-color: var(--principal_color);
    padding: 10px;
    border: 2px var(--second_color) solid;
}

.checkbox, .filter_button, .career_checkbox{
    display: none;
}

.checkbox_label, .filter_label, .career_label{
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 1mm;
    border: 2px solid var(--second_color);
    margin:15px 5px 5px 5px;
    transform: scale(1);
    transition: transform 0.1s;
    cursor: pointer;
    user-select: none;
}

.filter_label:hover {
    background-color: var(--second_color);
}

.filter_label:active{
    transform: scale(0.95);

}

.checkbox_label {
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 7mm;
    border: 2px solid var(--second_color);
    margin:15px 5px 5px 5px;
}

.checkbox_label:hover{
    transform: scale(1.05);
}

.checkbox_label:active{
    transform: scale(0.9);
}

.checkbox:checked + label, .filter_button:checked + label{
    background-color: var(--second_color);
}

.button_careers_container {
    width: 100%;
    display: flex;
}

.button_careers_container li{
    list-style-type: none;
}

.content_name, .elective_name{
    display: flex;
    width: 100%;
    align-items: center;
}

.content_subjects select{
    width: 90%;
    display: block;
}

.content_header{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}

.subject_select{
    margin: 10px;
}



.coursed{
    opacity: 1;
}

.approved{
    opacity: 1;
}

.none{
    opacity: 1;
}